@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

*{
   box-sizing: 0; 
   margin: 0;
   padding: 0;
   background-color: #FFFDD0;
}



li, a{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #800000;
    text-decoration: none;
    padding: 20px 10%;

}

h1, h2, h3{
    color: #90EE90;
}



header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
	position: sticky;
    top: 0;
	z-index: 1;
    /* position: fixed;
    top: 0%; */
}

/* .fixed{
    position: fixed;
    top: 0%;
} */

.logo{
    cursor: pointer;
}

li{
    list-style: none;
}

.nav-links, li{
    display: inline-block;
    padding:  10px 30px;
}

.nav-links li a {
    transition: all 0.1s ease 0s;
}

.nav-links li a:hover {
    color: blue;
} 

/*  */

.promo{
    display: flex;
    padding: 30px 10%;
    
}

.xmas-text .h2{
    margin-top: 20px;
    margin-left: 20px;
    
    
}

.xmas-text .h3{
    margin-top: 30px;
    margin-left: 80px ;
    
}

.xmas-picture{
    width: 200px;
    height: 200px;
    padding: 0 140px;
    border-radius: 5px;
}

.santa{
    color: red;
    margin: 0 20px;
}

.radius{
    border-radius: 0% 0% 70% 0%;
}

.btn{
    background: red; 
    border: 1px solid;
    border-radius: 20px;
    padding: 10px 30px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 50px;
 }

 .between{
     margin-top: 200px;
     margin-left: 150px;
     width: 0%;
     height: 0%;
 }

 .santa-list{
    padding: 30px 10%;
 }

 .mid{
     padding-top: 50px;
     margin-left: 500px;
     padding-bottom: 30px;
 }

.greetings{
    margin-left: 150px;
}

 .santa-records{
     display: grid;
 }
 .santa-record{
     display: flex;
 }

 .xmas-pictures{
    width: 200px;
    height: 170px;
    padding: 0 20px;
    border-radius: 5px;
}

.betweens{
    margin-top: 60px;
    margin-left: 150px;
    width: 0%;
    height: 0%;
}




.container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 40px;
}

.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("img/bg.jpg") no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
	background: url("/image/tree.jpg") no-repeat center;
	background-size: cover;
	height: 100%;
}

.right{
	padding: 25px 40px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.bt{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #2ecc71;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: #27ae60;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}




@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: whitesmoke;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #00FF00;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #00FF00;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}